@import "@/styles/variables.scss";

.mainSection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 170px;
    padding: 100px 0px 100px 0px;

    &__firstArticle {
        display: grid;
        gap:30px;

        &__image {
            width: 30vw;
            border-radius: 20px;
            height: auto;
            cursor: pointer;
            opacity: 1;
            transition-duration: 500ms;
            transition-timing-function: ease-in-out;
            transition-property: all;
        }

        &__buttons {
            display: flex;
            justify-content: space-between;
            
        }
    }

    &__secondArticle {
        display: flex;
        flex-direction: column;
        gap:37px;

        &__h1 {
            color: $darkGrayishBlue;
            letter-spacing: 4px;
            font-size: clamp(1rem,0.9vw,10rem);
        }

        &__h2 {
            font-size: clamp(2rem,2.7vw,10rem);
            color: $veryDarkBlue;
        }

        &__text {
            font-size: clamp(1.1rem,1vw,10rem);
            color: $darkGrayishBlue;
            line-height: 30px;
        }

        &__firstDiv {
            display: grid;
            gap:15px;
        }

        &__secondDiv {
            display: flex;
            justify-content: space-between;
        }
    }
}

.mainSection__firstArticle__divImage-previous {
    display: none;
}

.mainSection__firstArticle__divImage-next {
    display: none;
}

.mainSection__firstArticle__buttons-item {
    background: transparent;
    border: 0px;
    cursor: pointer;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    transition-property: all;
    background: $white;
    border-radius: 17px;
    height: 6.3vw;
    width: 6.4vw;
    
    // &:nth-child(1) {
    //     opacity: 35%; 
    //     outline: 3px solid $orange;
    //     border-radius: 18px;  
    // }

    &:hover {
        opacity: 35%;
    }
    
    &__image {
        border-radius: 16px;
        width: 6.5vw;
        height: auto;        
    }
}

.mainSection__firstArticle__buttons-item.active {
    opacity: 35%; 
    outline: 3px solid $orange;
}

.mainSection__firstArticle__image.active {
    opacity: 0;
}

.mainSection__secondArticle__firstDiv-items {
    display: flex;
    gap:20px;
    align-items: center;

    &__first {
        font-size: clamp(1.3rem,1.7vw,10rem);
        font-weight: 700;
        color: $veryDarkBlue;
    }

    &__second {
        font-size: clamp(1.2rem,1vw,10rem);
        font-weight: 700;
        color: $white;
        background: $black75per;
        padding: 5px 12px 5px 12px;
        border-radius: 10px;
    }
}

.mainSection__secondArticle__firstDiv-item {
    font-weight: 700;
    font-size: clamp(1.1rem,1vw,10rem);
    color: $darkGrayishBlue;
    text-decoration: line-through;
}

.mainSectiob__secondArticle__secondDiv-items {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:50px;

    &__buttonMinus {
        background: transparent;
        border: 0px;
        cursor: pointer;
        padding: 10px;
        transition-duration: 300ms;
        transition-timing-function: ease-in-out;
        transition-property: all;

        &:hover {
            filter: brightness(150%);
        }
    }

    &__span {
        color: $veryDarkBlue;
        font-weight: 700;
        font-size: clamp(1.2rem,1vw,10rem);
    }

    &__buttonPlus {
        background: transparent;
        border: 0px;
        cursor: pointer;
        padding: 10px;
        margin-top: 5px;
        transition-duration: 300ms;
        transition-timing-function: ease-in-out;
        transition-property: all;

        &:hover {
            filter: brightness(150%);
        }
    }
}

.mainSectiob__secondArticle__secondDiv-button {
    padding: 20px 90px 20px 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
    font-weight: 700;
    font-size: clamp(1rem,0.8vw,10rem);
    border-radius: 10px;
    background-color: $orange;
    border: 0px;
    cursor: pointer;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    transition-property: all;
    font-size: clamp(1rem,1vw,10rem);

    &__image {
        filter: brightness(20%);
        z-index: 0;
    }

    &:hover {
        background-color: $paleOrange;
    }
}



@media (max-width: 1280px) {
    .mainSection {
        gap:130px;
    }
}

@media (max-width: 1024px) {
    .mainSection {
        gap:50px;

        &__firstArticle__buttons {
            gap:20px;
        }
    }

    .mainSectiob__secondArticle__secondDiv-button {
        padding: 20px 70px 20px 70px;

        &:hover {
            background-color: $orange;
        }
    }

    .mainSection__firstArticle__image {
        width: 35vw;
    }
}

@media (max-width:930px) {
    .mainSection {
        display: grid;
        padding: 60px 0px 100px 0px;

        &__firstArticle__buttons {
            display: none;
        }

        &__secondArticle__firstDiv {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__secondArticle__secondDiv {
            display: grid;
            gap:20px;
            justify-content: center;
        }

        &__firstArticle__image {
            width: 50vw;
        }

        &__firstArticle__divImage {
            margin: auto;
            position: relative;
        }

        &__firstArticle__divImage-previous {
            display: block;
            background: $white;
            border: 0px;
            position: absolute;
            bottom: 47.5%;
            left: 27px;
            width: 43px;
            height: 43px;
            padding-right: 3px;
            padding-top: 2px;
            border-radius: 100px;
            cursor: pointer;
        }

        &__firstArticle__divImage-next {
            display: block;
            background: $white;
            border: 0px;
            position: absolute;
            bottom: 47.5%;
            right: 27px;
            width: 43px;
            height: 43px;
            padding-left: 3px;
            padding-top: 2px;
            border-radius: 100px;
            cursor: pointer;
        }
    }

    .mainSectiob__secondArticle__secondDiv-items {
        justify-content: space-between;
    }

    .mainSectiob__secondArticle__secondDiv-button {
        padding: 20px 167px 20px 167px;
        box-shadow: 0 10px 30px rgba(175, 101, 4, 0.3);
    }
}

@media (max-width: 768px) {
    .mainSection { 
        padding: 30px 0px 100px 0px;

        &__firstArticle__image {
            width: 450px;
        }

        &__firstArticle__divImage {
            position: relative;
        }
    }
}



@media (max-width: 500px) {
    .mainSection {
        padding: 0px 0px 100px 0px;

        &__firstArticle__image {
            width: 100vw;
            border-radius: 0px;
        }

        &__secondArticle {
            padding: 0px 30px 0px 30px;
        }
    }
    
    .mainSectiob__secondArticle__secondDiv-button {
        padding: 20px 14s0px 20px 140px;
    
        &__image {
            width: 30px;
        }
    }

    .brText {
        display: none;
    }
}

@media (max-width:450px) {
    .mainSection__secondArticle {
        padding: 0px 15px 0px 15px;
    }

    .mainSectiob__secondArticle__secondDiv-button {
        padding: 20px 125px 20px 125px;

        &__image {
            width: 35px;
        }
    }

    .mainSection__firstArticle__divImage-previous {
        left: 10px;
    }

    .mainSection__firstArticle__divImage-next {
        right: 10px;
    }
}

@media (max-width: 375px) {
    .mainSection__secondArticle {
        padding: 0px 20px 0px 20px;
    }

    .mainSectiob__secondArticle__secondDiv-button {
        padding: 20px 90px 20px 90px;
    }
}