@import "@/styles/variables.scss";

.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $grayishBlue;
    padding-bottom: 30px;

    &__firstArticle {
        display: flex;
        gap:80px;
    }

    &__nav {
        list-style: none;
        display: flex;
        gap:50px;

        &__item {
            position: relative;
            text-decoration: none;
            font-size: clamp(1.1rem,1vw,10rem);
            color: $darkGrayishBlue;
            transition-duration: 300ms;
            transition-timing-function: ease-in-out;
            transition-property: all;

            &:hover {
                color: $veryDarkBlue;
            }
        }
    }

    &__secondArticle {
        display: flex;
        align-items: center;
        gap:50px;

        &__button {
            background: transparent;
            border: 0px;
            cursor: pointer;
            transition-duration: 300ms;
            transition-timing-function: ease-in-out;
            transition-property: all;

            &:hover {
                filter: brightness(10%);
            }
        }

        &__avatar {
            width: 70px;
            height: 70px;
            cursor: pointer;
            transition-duration: 300ms;
            transition-timing-function: ease-in-out;
            transition-property: all;

            &:hover {
                outline: 3px solid $orange;
                border-radius: 35px;
            }
        }
    }
}

.menuIcon {
    display: none;
    background: transparent;
    border: 0px;
}


.section__nav__item::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -53px;
    width: 0;
    height: 5px;
    background-color: $orange;
    transition: width 0.3s ease;
}

.section__nav__item:hover::after {
    width: 100%;
}

.divBasket {
    position: relative;
}

.section__secondArticle__button-item {
    background: $orange;
    padding: 1px 8px 1px 8px;
    border-radius: 8px;
    font-weight: 700;
    color:$white;
    position: absolute;
    top: -10px;
    left: 8px;
    font-size: 13px;
    opacity: 0;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    transition-property: all;
    pointer-events: none;
}

.section__secondArticle__button-item.active {
    opacity: 1;
    pointer-events: auto;
}

@media (max-width: 1440px) { 
    .section__secondArticle__avatar {
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 1280px) {
    .section__secondArticle {
        gap:80px;
    }
}

@media (max-width: 1024px) {
    .section__firstArticle {
        gap:35px;
    }

    .section__nav {
        gap:30px;
    }

    .section__secondArticle {
        gap:100px;
    }
}

@media (max-width: 930px) {
    .section__secondArticle {
        gap:25px;
    }

    // .divBasket {
    //     position: static;
    // }
}

@media (max-width: 768px) {
    .section__firstArticle {
        flex-direction: row-reverse;
    }

    .section__nav {
        display: none;
    }

    .menuIcon {
        display: block;
        margin-top: 5px;
    }
}

@media (max-width: 500px) {
    .section {
        padding-bottom: 0px;
        border-bottom: 0px;

        &__secondArticle__avatar {
            width: 45px;
            height: 45px;
        }
    }
}