@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

$orange: hsl(26, 100%, 55%);
$paleOrange:hsl(25, 100%, 81%); 


$veryDarkBlue: hsl(220, 13%, 13%);
$darkGrayishBlue: hsl(219, 9%, 45%);
$grayishBlue: hsl(225, 7%, 89%);
$ligthGrayishBlue: hsl(223, 64%, 98%);
$white: hsl(0, 0%, 100%);
$black75per: hsl(0, 0%, 0%);


$font-primary: "Kumbh Sans", sans-serif;